html, body {
    height: 100dvh;
    overflow: hidden;
}
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    color: #1d2d35;
    display: flex;
    flex-direction: column; /* Add this line to enable column layout by default */
    font-size: larger;
    line-height: 1.5;
}
.left-side {
    width: 100%; /* Change to 100% for mobile */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
}
.left-side::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/img/shutterstock_1040522821.jpg') no-repeat center center/cover;
    filter: blur(8px); /* Add blur filter here */
    z-index: -1; /* Ensure the pseudo-element is behind the text */
}
.left-side::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Add a dark overlay */
    z-index: -1; /* Ensure the pseudo-element is behind the text */
}
.right-side {
    width: 100%; /* Change to 100% for mobile */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
}
.right-content {
    width: 100%; /* Change to 100% for mobile */
    max-width: 375px;
}
.btn {
    background-color: #5d2f86;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.btn:hover {
    background-color: #4b246a;
}
input[type=email] {
    padding: 10px;
    width: 80%;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
h1 {
    font-size: 76px;
    font-weight: 500;
    margin: 5px;
}
.subtitle {
    font-size: 25px;
}
form {
    justify-content: center;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
@media (min-width: 768px) {
    body {
        flex-direction: row; /* Change to row for larger screens */
    }
    .left-side, .right-side {
        width: 50%; /* Change back to 50% for larger screens */
    }
}
@media (max-width: 768px) {
    body {
        font-size: medium;
    }
    h1 {
        font-size: 50px;
    }
    .subtitle {
        font-size: 20px;
    }
    .left-side, .right-side {
        padding: 0;
    }
    .right-content {
        width: 80%;
    }
}
